@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esto es vital para que la app ocupe toda la pantalla */
html, body {
  height: 100%;
  margin: 0;
  background-color: #020617; /* Slate 950 */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
